body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff99cc, #cc66ff);
    z-index: -1;
  }
  
  .carta {
    position: relative;
    background-color: #8a67d9; /* Lila claro */
    width: 80%; /* Ajustamos el ancho del mensaje */
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; /* Texto negro */
  }
  
  h1 {
    text-align: center;
    color: #fff; /* Texto blanco */
    animation: moveUpDown 2s infinite;
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .mensaje {
    animation-duration: 1s;
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .mensaje-content {
    color: #000; /* Texto negro */
    text-align: center;
    position: relative;
  }
  
  .mensaje-content p {
    margin: 10px 0; /* Espacio entre párrafos */
  }
  
  .animated {
    animation-fill-mode: both;
  }
  
  .side-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
  }
  
  .left-image {
    left: 10px;
  }
  
  .right-image {
    right: 10px;
  }
  
  .bottom-image {
    width: auto;
    height: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
  }
  
  .left-image.bottom-image {
    bottom: 10px;
    left: 10px;
  }
  
  .right-image.bottom-image {
    bottom: 10px;
    right: 10px;
  }
  
  .icon {
    position: absolute;
    width: 50px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: 50px;
    animation: moveIcon 2s infinite alternate; /* Agregamos la animación */
    top: -20px; /* Ajustamos la posición vertical */
  }
  
  
  @keyframes moveIcon {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .inside-icon {
    z-index: 1;
  }
  
  
  .top-left {
    top: -20px;
    left: -20px;
  }
  
  .top-right {
    top: -20px;
    right: -20px;
  }
  
  .bottom-left {
    bottom: -20px;
    left: -20px;
  }
  
  .bottom-right {
    bottom: -20px;
    right: -20px;
  }
